body
{
    background-image: url('/img/cfa-banner-big.png') !important;
    background-repeat:no-repeat;
    background-position:left top;
    background-attachment:fixed;
    background-size: cover;
    padding-bottom: 1.5em;
}

div.banner h1
{
    font-size: 3em;
    background: white;
    opacity: 0.80;
    color: black;
}

nav.top-bar
{
    margin-bottom: 0px;
}

nav img
{
    max-height: 100%;
}

.panel
{
    opacity: 0.95;
}

.columns
{
}

em
{
    font-style: normal;
    font-weight: bold;
}
