body
/Users/jenniferhuang/Documents/Github/website {
    background-image: url('') !important;
    background-repeat:no-repeat;
    background-position:left top;
    background-attachment:fixed;
    background-size: cover;
    padding-bottom: 1.5em;
}

div.banner h1
{
    font-size: 3em;
    background: white;
    opacity: 0.80;
    color: black;
}

nav.top-bar
{
    margin-bottom: 0px;
}

nav img
{
    max-height: 100%;
}

.panel
{
    opacity: 0.95;
}

ul.indent
{
    margin-left: 30px;
}

em
{
    font-style: normal;
    font-weight: bold;
}
.post {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
}
ul {
  margin-left: 2rem;
}
