<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi" />
  <title>Carnegie Mellon All-University Orchestra</title>

  
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>

<!-- Navigation -->
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            AUO - {{page.title}}
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>nav</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>

        {% for p in site.pages %}
            {% if page.url == p.url %}
                <li class="active"><a href="{{p.url}}" class="active">{{p.title}}</a></li>
            {% else %}
                <li><a href="{{p.url}}">{{p.title}}</a></li>
            {% endif %}
            <li class="divider"></li>
        {% endfor %}
      </ul>
    </section>
  </nav>
  <!-- End Top Bar -->


 <div class="banner">
     {{ content }}
 </div>

    <!-- Footer -->

      <footer class="row">
        <div class="large-12 columns" id="foot" >
        <div class="panel" >
            <div class="row">

              <div class="large-6 small-12 large-left text-center columns" id="copy" >
                  &copy; Copyright CMU All-University Orchestra.
              </div>
              <div class="large-6 small-12 large-left text-center columns" id="copy" >
                  Questions? Comments? Email <a href="mailto:auo@andrew.cmu.edu">auo@andrew.cmu.edu</a>
              </div>

                  <!--
              <div class="large-6 small-12 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>
                  -->

            </div>
            </div>
        </div>
      </footer>

    <!-- End Footer -->


  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->
</body>
</html>
