<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Carnegie Mellon All-University Orchestra</title>

  
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/app.css">
  

  <script src="/js/vendor/custom.modernizr.js"></script>

</head>
<body>

<!-- Navigation -->
    {% include nav.html %}
<!-- End Top Bar -->


<div class="banner ">
<div class="row">
    <div class="large-10 small-12 columns large-centered" >
    {{ content }}
    </div>
</div>
</div>

<!-- Footer -->
<footer class="row" >
<div class="large-10 small-12 columns large-centered">
    {% include footer.html %}
</div>
</footer>
<!-- End Footer -->

{% include footscript.html %}
</body>
</html>
